.envio{
    display: flex;
    position: relative;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.container{
    display: flex;
    position: relative;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 25rem;
    height: 15rem;
    background: #fff;
    border: .1rem var(--color-texto) solid;
    border-radius: .5rem;
}
h3{
    font-style: normal;
    font-weight: bold;
    font-size: 1rem;
    background: #fff;
}
.container img{
    width: 5rem;
    margin: .5rem;
    background: #fff;
}