footer{
    display: flex;
    justify-content: center;
    margin-bottom: 3rem;
}
@media (max-width: 900px) {
    footer{
        font-size: .6rem;
        margin-bottom: 1.5rem;
    }
}
@media (max-width: 500px) {
    footer{
        margin-top: 1.5rem;
    }
}