.skills h3, .hobbies h3, .academica h3{
    display: flex;
    justify-content: center;
    font-style: normal;
    font-weight: bold;
    font-size: 2rem;
    color: var(--color-texto);
    padding-bottom: 1rem;
}

.skills ul, .hobbies ul, .academica ul{
    display: flex;
    justify-content: space-around;
    margin-top: 1.5rem;  
}

.skills img, .hobbies img{
    width: 2rem;
    padding-bottom: 1rem;
}

.academica img{
    width: 7rem;
}

.skills li, .hobbies li, .academica li{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content:flex-end;
}

.academica a{
    font-weight: bold;
    padding-top: 1rem;
}

@media (max-width: 900px) {
    .skills h3, .hobbies h3, .academica h3{
        font-size: 1rem;
        padding-bottom: 0rem;
    }
    .skills ul, .hobbies ul, .academica ul{
        margin-top: .5rem;  
    }

    .skills img, .hobbies img{
        width: 1rem;
        padding-bottom: .5rem;
    }
    .academica img{
        width: 6rem;
    }
    .skills p, .hobbies p, .academica a, .academica h2{
        font-size: .6rem;
        padding-bottom: .5rem;
    }

}
@media (max-width: 500px) {
    .skills ul, .hobbies ul, .academica ul{
        flex-direction: row;
        flex-wrap: wrap;
        margin-top: 1rem; 
    }
    .skills img, .hobbies img{
        width: 1.5rem;
    }
      
    .academica img{
        width: 100%;
    }
    
    .skills li, .hobbies li, .academica li{
        margin: .5rem 2rem;

    }
    .academica a{
        padding-top: .5rem;
    }

}