.perfil{
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.perfilTexto h2{
    font-style: normal;
    font-weight: bold;
    font-size: 2rem;
    color: var(--color-texto);
    padding-bottom: 1.5rem;
}

.perfilTexto h3{
    font-size: 1rem;
}

.perfilTexto ul{
    display: flex;
}

.perfilTexto li{
    margin: 1rem 2rem 0 0;
    font-size: .8rem;
    cursor: pointer;
}
.perfilTexto li img{
    height: .5rem;
}

.perfilImg{
    height: 30%;
    width: auto;
    margin-left: 1rem;
}

@media (max-width: 900px) {

    .perfilTexto h2{
        font-size: 1rem;
        padding-bottom: .3rem;
    }
    .perfilTexto h3{
        font-size: .6rem;
    }

    .perfilImg{
        width: 35%;
        min-width: 5rem;
        max-width: 10rem;
        margin-left: .5rem;
    }

    .perfilTexto li{
        margin: .8rem 1rem 0 0;
        font-size: .5rem;
    }
    .perfilTexto li img{
        height: .3rem;
    }
}

@media (max-width: 500px) {
    .perfil{
        flex-wrap: wrap-reverse;
        justify-content: flex-start;
    }
    .perfilImg{
        margin-bottom: .5rem;
    }
    .perfilTexto h2{
        padding-bottom: .5rem;
    }
}