.sobreMi h3{
    font-style: normal;
    font-weight: bold;
    font-size: 2rem;
    color: var(--color-texto);
    padding-bottom: 1rem;
}

.sobreMi p{
    margin: .5rem 30% 1rem 0;
    font-size: 1rem;
}

@media (max-width: 900px) {
    .sobreMi h3{
        font-size: 1rem;
        padding-bottom: 0rem;
    }
    
    .sobreMi p{
        margin: .5rem 0rem .3rem 0;
        font-size: .6rem;
    } 
    .sobreMi img{
        padding-top: 0.5rem;
    }

}
@media (min-width: 425px) {}